dynamic-flows-connector/src/main/app/demo/demo-app/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:dynamicflows="http://www.mulesoft.org/schema/mule/dynamicflows"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
http://www.mulesoft.org/schema/mule/dynamicflows http://www.mulesoft.org/schema/mule/dynamicflows/1.0/mule-dynamicflows.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/4.0/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">


    <dynamicflows:config doc:name="Dynamic Flows" name="Dynamic_Flows"/>


    <custom-transformer name="httpToMapTransformer" class="org.mule.transport.http.transformers.HttpRequestBodyToParamMap" doc:name="Java"/>


    <custom-transformer name="mapForModuleTransformer" class="transformers.ConfigExtractor" doc:name="Java"/>

    <flow name="addFlow">
        <http:inbound-endpoint keep-alive="true" exchange-pattern="request-response" host="localhost" port="${http.port}" path="add" doc:name="HTTP"/>

        <transformer ref="httpToMapTransformer" doc:name="Transformer Reference"/>

        <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="contextName" value="#[map-payload:campaignName]" />
        </message-properties-transformer>

        <transformer ref="mapForModuleTransformer" doc:name="Transformer Reference"/>

        <dynamicflows:add contextName="#[variable:contextName]" doc:name="Dynamic Flows">
            <dynamicflows:configs ref="#[payload]" />
        </dynamicflows:add>

    </flow>


    <flow name="runFlow">
        <http:inbound-endpoint keep-alive="true" exchange-pattern="request-response" host="localhost" port="${http.port}" path="run" doc:name="HTTP"/>
        <transformer ref="httpToMapTransformer" doc:name="Transformer Reference"/>

        <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="contextName" value="#[map-payload:campaignName]" />
        </message-properties-transformer>


        <dynamicflows:run contextName="#[variable:contextName]" flowName="act" doc:name="Dynamic Flows"/>

    </flow>

    <flow name="runvmFlow">
        <http:inbound-endpoint keep-alive="true" exchange-pattern="request-response" host="localhost" port="${http.port}" path="runvm" doc:name="HTTP"/>
        <transformer ref="httpToMapTransformer" doc:name="Transformer Reference"/>

        <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="contextName" value="#[map-payload:campaignName]" />
        </message-properties-transformer>


        <dynamicflows:vm-run contextName="#[variable:contextName]" flowName="act" doc:name="Dynamic Flows"/>

    </flow>
</mule>


